/* ============ Start CSS Reset ============ */
/* CSS Reset referenced from https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
	margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
	height: 100%;
}

p {
	line-height: 130%;
	overflow-wrap: break-word;
	padding-bottom: 0.1rem;
	/* word-break: break-all; */
}

/* ============ End CSS Reset ============ */

/* ============ Import Google Font ============ */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Trirong:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 
font-family: 'Overpass', sans serif; <-- For EN Font
font-family: 'Trirong', serif; <-- For TH Font
*/
/* ============ End Google Font ============ */

* {
	font-family: 'Overpass', serif;
}

body {
	width: 100vw;
	position: relative;
}

#header_name {
	font-size: 3rem;
}

#wrapper {
	width: 80%;
	/* min-width: 50%; */
	/* max-width: 60vw; */
	border: 2px solid brown;

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#contact_content {
	/* margin-top: 0.3rem; */
	/* margin-bottom: 1rem; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 0.5rem;
}

.container {
	margin-top: 1rem;
}

.container > h1,
h2 {
	margin-bottom: 0.5rem;
}

.contact_item {
	display: flex;
}

.contact_item > img {
	position: absolute;
	/* position: relative; */
	/* left: 0; */
	transform: translateX(-150%);
	width: 1.2rem;
	height: 1.2rem;
}

.text_link {
	color: #1685bd;
	text-decoration: none;
}

.exp_heading,
.edu_heading {
	font-size: 1.3rem;
}

.exp_org,
.edu_org {
	font-size: 1.1rem;
}

.exp_period,
.edu_period,
.exp_description {
	font-size: 1rem;
}

.content,
.cert_items,
.edu_content {
	position: relative;
	margin-left: 2rem;
}

.exp_content:not(:last-child),
.cert_content:not(:last-child) {
	margin-bottom: 1rem;
}

/* {
	margin-bottom: 1rem;
} */

.skill_content {
	position: relative;
	left: 1rem;
}
.exp_content > img {
	position: absolute;
	transform: translateX(-120%) translateY(10%);
	width: 1.3rem;
	height: 1.3rem;
}

.edu_content > img {
	position: absolute;
	transform: translateX(-120%) translateY(10%);
	width: 1.3rem;
	height: 1.3rem;
}

.cert_content > img {
	position: absolute;
	transform: translateX(-120%) translateY(0%);
	width: 1.3rem;
	height: 1.3rem;
}
